<form class="form justify-content-center" action="https://formspree.io/f/mrgdglzp" method="POST">
      <h2 class="form-title fs-4 fw-bold mb-4">
        Tire suas dúvidas,<br>deixe sua mensagem!
      </h2>
      <div class="form-group form-email mb-4">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email">
      </div>
      <label for="phone">Telefone</label>
      <div class="form-group form-phone mb-4">
        <input type="phone" name="phone" class="form-control" id="phone">
      </div>
      <label for="message">Mensagem</label>
      <div class="form-group form-phone mb-4">
        <textarea name="message" class="form-control" id="message" rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-primary form-button col-12">Enviar!</button>
    </form>
