<div class="banner">
  <div class="hero d-flex">
    <div class="logo">
    </div>
    <div class="hero-img">
    </div>
  </div>
  <div class="cta">
    <%= link_to 'Open form', '#', class: 'btn btn-secondary' %>
    <%= link_to 'Whatsapp', 'https://wa.me/+4407796002480', class: 'call-to-action btn btn-success' %>
  </div>
  </div>
</div>
