<%= render "pages/navbar" %>
<section class="hero banner container-fluid align-middle">
  <div class="container col-lg-12 d-flex justify-content-between flex-column flex-lg-row">
    <div class="page-title col-12 col-lg-7 text-light">
      <p>CHEGOU A HORA DE VOCÊ TER</p>
      <h1 class="mb-4 fw-bold">A <span class="text-primary fw-bolder">casa dos seus sonhos<br></span> com a qualidade<br> que você merece!</h1>
      <h3 class="mb-3">Móveis planejados sob medida<br>com confiança e credibilidade!</h3>
      <a href="" class="btn btn-primary m-2">Whatsapp</a>
    </div>
    <div class="form col-12 col-lg-4 bg-white p-4 shadow">
      <%= render "pages/form" %>
    </div>
  </div>
</section>

<div class="container p-0 bg-white">

<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
<h2>Lorem ipsum dolor</h2>
</div>
