<%= render "pages/navbar" %>
<section class="hero banner container-fluid align-middle">
  <div class="container col-lg-12 d-flex justify-content-between flex-column flex-lg-row">
    <div class="page-title col-12 col-lg-7 text-light">
      <h6>CHEGOU A HORA DE VOCÊ TER</h6>
      <h1 class="mb-4 fw-bold">A <span class="text-primary fw-bolder">casa dos seus sonhos<br></span> com a qualidade<br> que você merece!</h1>
      <h3 class="mb-3">Móveis planejados sob medida<br>com confiança e credibilidade!</h3>
      <a href="" class="btn btn-primary m-2">Whatsapp</a>
    </div>
    <div class="form col-12 col-lg-4 bg-white p-4 shadow">
      <%= render "pages/form" %>
    </div>
  </div>
</section>

<section class="between">
  <div class="container-fluid bg-dark" style="padding: 4rem 0;">
    <div class="container d-flex  justify-content-between text-light">
      <div class="box d-flex">
        <i class="fa-solid fa-box-open p-2"></i>
        <h4 class="box-text">
          Lorem ipsum dolor sit amet
        </h4>
      </div>
      <div class="box d-flex">
        <i class="fa-solid fa-box-open p-2"></i>
        <h4 class="box-text">
          Lorem ipsum dolor sit amet
        </h4>
      </div>
      <div class="box d-flex">
        <i class="fa-solid fa-box-open p-2"></i>
        <h4 class="box-text">
          Lorem ipsum dolor sit amet
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="about-us bg-dark text-light container-fluid pb-4">
  <div class="container d-flex flex-column flex-lg-row justify-content-between pb-4">
    <div class="section-text col-12 col-lg-4">
      <h6 class="container-title-small">QUEM SOMOS</h6>
      <h2 class="container-title mb-4">A <span class="text-primary fw-bolder">mobbilar</span> nasceu da criatividade e inovação!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci sagittis eu volutpat odio facilisis mauris. Nibh sed pulvinar proin gravida hendrerit lectus. Adipiscing tristique risus nec feugiat in fermentum posuere urna nec.</p>
    </div>

    <div class="gallery col-12 col-lg-7 d-flex flex-row" style="">
      <img src="https://dummyimage.com/400x600/000/fff" class="col-6 img-fluid p-1"alt="">
      <div class="image-wrapper col-6 d-flex flex-column">
        <img src="https://dummyimage.com/400x300/000/fff" alt="" class="img-fluid p-1 col-12">
        <div class="image-wrapper d-flex flex-row col-12">
          <img src="https://dummyimage.com/200x300/000/fff" alt="" class="img-fluid p-1 col-6">
          <img src="https://dummyimage.com/200x300/000/fff" alt="" class="img-fluid p-1 col-6">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="map container-fluid bg-black text-light pt-4 pb-4">
  <div class="container d-flex flex-column flex-lg-row justify-content-between pt-4 pb-4">
    <div class="section-text col-12 col-lg-4">
      <h6 class="container-title-small">ONDE ESTAMOS</h6>
      <h2 class="class-container-title">Estamos em <span class="text-primary">Curitiba</span> atendendo em toda região metropolitana!</h2>
    </div>
    <img src="https://dummyimage.com/600x200/b3b3b3" alt="" class="col-12 col-lg-7">
  </div>
</section>

<section class="footer container-fluid bg-primary pt-4 text-light">
  <div class="container footer d-flex align-center justify-content-around pt-4 pb-4">
    <%= image_tag("logo-simbolo-black.svg", class:"img-fluid col-1", style:"fill: black;") %>
    <p class="footer-text col-8 col-lg-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <p class="footer-signed text-end m-0">Desenvolvido por Gustavo Meneses</p>
</section>
